@import url('https://fonts.googleapis.com/css?family=PT+Sans:400&subset=latin,latin-ext');

/* Reset (based on original, combined with Eric Meyer's Reset CSS v2.0 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub,
sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure,
figcaption, hgroup, menu, footer, header, main, nav, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
    font: inherit;
}
article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, main,
nav, section, audio, video { display: block; }
ul, ol { list-style: none; }
a img { border: 0; }
a, a:hover, a:active, a:link, a:visited { color: inherit; text-decoration: none; }
em { font-style: italic; }
strong { font-weight: 700; }

/* Typography and colours */
html {
    background-color: #fafafa;
    color: #444;
    font: 1.12rem/1.5em 'PT Sans', Calibri, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

body {
    width: 80%;
    max-width: 50ch;
    margin: 4rem auto;
    -webkit-text-size-adjust: 100%;
}

i { font-style: italic; }

p { margin-bottom: 28px; }

a, a:link, a:visited, .menu a:hover {
    color: #d13048;
    transition: color .2s ease-in-out, border-color .2s ease-in-out;
    border-bottom: 1px solid #ddd;
}

a:hover, a:active {
    color: #e38492;
    border-bottom-color: #e38492;
}

::selection { background: rgba(38,164,166,.4); color: #fafafa; }
::-moz-selection { background: rgba(38,164,166,.4); color: #fafafa; }
img::selection { background: transparent; }
img::-moz-selection { background: transparent; }
body { -webkit-tap-highlight-color: rgba(38,164,166,.4); }
